<div class="form" ng-controller="newController">
    <h1>New Friend</h1>
    <form action="" method="POST">
        <p><input type="text" name="first_name" placeholder="First Name" ng-model="newFriend.first_name"></p>
        <p><input type="text" name="last_name" placeholder="Last Name" ng-model="newFriend.last_name"></p>
        <p><input type="number" name="age" placeholder="Age" ng-model="newFriend.age"></p>
        <p><button type="button" ng-click="addFriend()">Add Friend</button></p>
        <p><a href="#/"><button type="button">Cancel</button></a></p>
    </form>
</div>